# Ignorar archivos temporales del sistema
.DS_Store
Thumbs.db
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes


# Ignorar archivos de compilación
/build/
*.o
*.exe

# Ignorar configuraciones específicas de entornos
.env

# Ignorar configuraciones específicas de editores
.vscode/
*.swp

#Log file
*.log

# node_modules
node_modules
package-lock.json